.KameletNode img {
    vertical-align: middle;
    height: 2rem;
    width: auto;
    max-width: 60%;
    padding: 0.4rem;
}

.KameletNode-Source-Handler {
    background-color: #0041d0;
}

.KameletNode-Sink-Handler {
    background-color: #ff0072;
}
